/* 全局样式 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: #333;
}

/* 首页 */
.hero {
  background: url("images/hero-bg.jpg") no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.name {
  padding: 0.2rem;
  border-radius: 10px;
  color: black;
  background-color: #f4f4f4;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  background-color: #fff;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

.hero-content p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

/* 关于我 */
.about {
  padding: 50px 20px;
  text-align: center;
  background: #f4f4f4;
}

.about h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

/* 项目展示 */
.projects {
  padding: 50px 20px;
  text-align: center;
}

.projects h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.project-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project-card {
  width: 30%;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  background: #fff;
}

.project-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.project-card p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.project-card strong {
  color: #007bff;
}

/* 联系我 */
.contact {
  padding: 50px 20px;
  text-align: center;
  background: #f4f4f4;
}

.contact h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.contact-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* 页脚 */
footer {
  text-align: center;
  padding: 20px;
  background: #333;
  color: #fff;
}
